<!DOCTYPE html>
<html lang="en" dir="ltr" class="group" data-theme-color="violet" data-mode="light">
    <head>
        <meta charset="utf-8"/>
        <title> <%= (locals.title ? locals.title : locals.constantsLib.loginPagePhrases.LOGIN_PAGE_TITLE) %> </title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta content="chat" name="description"/>
        <meta content="" name="Themesbrand"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <link rel="icon" href="/img/favicon.svg" type="image/svg+xml">

        <link rel="stylesheet" href="/css/chat/tailwind.css" />
        <link rel="stylesheet" href="/css/chat/chat.css" />
        <link rel="stylesheet" href="/css/chat/default-chat.css" />
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/2.5.0/remixicon.css">
        <link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
      <%- body %>
      <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/simplebar/6.2.5/simplebar.min.js" integrity="sha512-HV1U44HR4mYVDcsxzJpghYyGEy2PvbePe9UFXlV3vnzf4yFhbKA9QNpnhy4VWwnaC2jKzijITVWHPZBCOuc51g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js" integrity="sha512-IsNh5E3eYy3tr/JiX2Yx4vsCujtkhwl7SLqgnwLNgf04Hrt9BT9SXlLlZlWx+OK4ndzAoALhsMNcCmkggjZB1w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="/js/chat/pages/index.init.js"></script>
      <script src="/js/chat/pages/profile.init.js"></script>
      <script src="/js/chat/app.js"></script>
      <script src="/js/chat/chat.js"></script>
      <script type="text/javascript" defer src="/js/heartbeat.js"></script>

      <script type="module">
        import { initializeApp } from "https://www.gstatic.com/firebasejs/10.10.0/firebase-app.js";
        import { getMessaging, getToken } from "https://www.gstatic.com/firebasejs/10.10.0/firebase-messaging.js";

        const firebaseConfig = {
          apiKey: "AIzaSyCr4GGI_zbzHvkmzyLNJklbiZZi3IZhem0",
          authDomain: "nudge-f03c4.firebaseapp.com",
          projectId: "nudge-f03c4",
          storageBucket: "nudge-f03c4.appspot.com",
          messagingSenderId: "254538726118",
          appId: "1:254538726118:web:ebd270ea83622d635b1927"
        };
      
        const app = initializeApp(firebaseConfig);
        const messaging = getMessaging(app);

      navigator.serviceWorker.register("/js/fcm-service-worker.js").then(registration => {
        getToken(messaging, { 
          ServiceWorkerRegistration: registration,
          vapidKey: 'BJuTFtNM8Wm3OtTWE9UJ1IApt2sf6ytNGWVZQlWKn_CqdUE320KGFZZkDMsh0oupr_74mCCnmYq8-J8l2FUxiiE' }).then((currentToken) => {
          if (currentToken) {
            console.log('currentToken ' + currentToken);
            // Send the token to your server and update the UI if necessary
            // ...
          } else {
            // Show permission request UI
            console.log('No registration token available. Request permission to generate one.');
            // ...
          }
        }).catch((err) => {
          console.log('An error occurred while retrieving token. ', err);
          // ...
        });
      })

      </script>
    </body>
</html>
