/* Styles for active heartbeat contact in red theme */
[data-theme-color=red] .hearbeat-contact.active {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(254 220 219 / var(--tw-bg-opacity));
}

/* Styles for active heartbeat contact in violet theme */
[data-theme-color=violet] .hearbeat-contact.active {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(230 235 245 / var(--tw-bg-opacity)) !important;
}

/* Styles for active heartbeat contact in green theme */
[data-theme-color=green] .hearbeat-contact.active {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(202 237 223 / var(--tw-bg-opacity)) !important;
}

/* Styles for active heartbeat contact with dark mode enabled */
:is([data-mode=dark] .hearbeat-contact.active) {
  --tw-bg-opacity: 1 !important;
  background-color: #272e35 !important;
}

#chat-page-parent {
  height: 100vh !important;
}

#heartbeat-chat-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#convrsation-navbar-parent {
  height: 100px;
}

#chat-parent-div-wrapper {
  flex: auto;
  overflow: auto;
}

#chat-input-section-parent-div {
  height: 80px;
}

#heartbeat-chat-content {
  display: flex;
  height: 100vh;
  /* align-items: center; */
  justify-content: center;
  width: 100%;
}

#heartbeat-joke-div {
  height: fit-content;
  width: fit-content;
}

.user-profile-pic {
  max-width: fit-content !important;
  min-width: 2.25rem !important;
}


#chat-parent-div-wrapper {
  height: 80vh!important;
  padding: 1rem!important;
}

.current-user-chat {
  text-align: right;
  margin: 10px;
  color: black;
}

.receipt-user-chat {
  text-align: left;
  margin: 10px;
  color: black;
}