<div class="tab-content active">
  <div>
      <div class="px-6 pt-6">
          <h4 class="mb-0 text-gray-700 dark:text-gray-50">Chats</h4>
          <div class="py-1 mt-5 mb-5 rounded group-data-[theme-color=violet]:bg-slate-100 group-data-[theme-color=green]:bg-green-50 group-data-[theme-color=red]:bg-red-50 group-data-[theme-color=violet]:dark:bg-zinc-600 group-data-[theme-color=green]:dark:bg-zinc-600 group-data-[theme-color=red]:dark:bg-zinc-600">
              <span class="group-data-[theme-color=violet]:bg-slate-100 group-data-[theme-color=green]:bg-green-50 group-data-[theme-color=red]:bg-red-50 pe-1 ps-3 group-data-[theme-color=violet]:dark:bg-zinc-600 group-data-[theme-color=green]:dark:bg-zinc-600 group-data-[theme-color=red]:dark:bg-zinc-600" id="basic-addon1">
                  <i class="text-lg text-gray-400 ri-search-line search-icon dark:text-gray-200"></i>
              </span>
              <input type="text" class="border-0 group-data-[theme-color=violet]:bg-slate-100 group-data-[theme-color=green]:bg-green-50 group-data-[theme-color=red]:bg-red-50 placeholder:text-[14px] focus:ring-offset-0 focus:outline-none focus:ring-0 group-data-[theme-color=violet]:dark:bg-zinc-600 group-data-[theme-color=green]:dark:bg-zinc-600 group-data-[theme-color=red]:dark:bg-zinc-600 placeholder:text-gray-400" placeholder="Search messages or users" aria-label="Search messages or users" aria-describedby="basic-addon1">
          </div>
      </div>

      <!-- Start user status -->
      <%- include('./chats/user-status-carousel.ejs') %>
      <!-- end user status -->

      <!-- Start chat-message-list -->
      <div>
          <h5 class="px-6 mb-4 text-16 dark:text-gray-50">Recent</h5>
          <div class="h-[610px] px-2" data-simplebar>
              <ul class="chat-user-list">
                  <li class="px-5 py-[15px] group-data-[theme-color=violet]:hover:bg-slate-100 group-data-[theme-color=green]:hover:bg-green-50/50 group-data-[theme-color=red]:hover:bg-red-50/50 transition-all ease-in-out border-b border-white/20 dark:border-zinc-700 group-data-[theme-color=violet]:dark:hover:bg-zinc-600 group-data-[theme-color=green]:dark:hover:bg-zinc-600 group-data-[theme-color=red]:dark:hover:bg-zinc-600 dark:hover:border-zinc-700">
                      <a href="#">
                          <div class="relative flex">
                              <div class="relative self-center ltr:mr-3 rtl:ml-3">
                                  <img src="/img/chat/images/avatar-3.jpg" class="rounded-full w-9 h-9" alt="">
                                  <span class="absolute w-2.5 h-2.5 bg-yellow-500 border-2 border-white rounded-full top-7 ltr:right-1 rtl:left-1 dark:border-zinc-600"></span>
                              </div>
                              <div class="flex-grow overflow-hidden">
                                  <h5 class="mb-1 text-base truncate dark:text-gray-50">Mark Messer</h5>
                                  <p class="mb-0 text-gray-800 truncate dark:text-gray-300 text-14">
                                      <i class="align-middle ri-image-fill me-1 ms-0"></i>
                                      Images
                                  </p>
                              </div>
                              <div class="text-gray-500 text-11 dark:text-gray-300">12 min</div>
                              <div class="absolute bottom-0 ltr:right-0 rtl:left-0">
                                  <span class="px-2 py-1 text-red-500 rounded-full bg-red-500/20 text-11">02</span>
                              </div>
                          </div>
                      </a>
                  </li>

                    <% heartbeats.forEach(heartbeat => { %>
                        <%- include('./chats/heartbeat.ejs', {heartbeat}) %>
                    <% }) %>
              </ul>
          </div>
      </div>
      <!-- End chat-message-list -->
  </div>
</div>
