<div class="tab-content">
  <!-- Start chat content -->
  <div>
      <div class="p-6 pb-0">
          <div class="ltr:float-right rtl:float-left">
              <div class="relative">
                  <!-- Button trigger modal -->
                  <button type="button" class="px-4 text-lg text-gray-500 group/tag" data-tw-toggle="modal" data-tw-target="#modal-id2">
                      <i class="mr-1 ri-user-add-line ms-0 dark:text-violet-200"></i>
                      <span class="absolute items-center hidden mb-6 top-8 group-hover/tag:flex ltr:-left-8 rtl:-right-8">
                          <span class="relative z-10 p-2 text-xs leading-none text-white whitespace-no-wrap bg-black rounded shadow-lg">Add Contact</span>
                          <span class="w-3 h-3 -mt-6 rotate-45 bg-black ltr:-ml-12 rtl:-mr-12"></span>
                      </span>
                  </button>
              </div>
          </div>
          <h4 class="mb-6 dark:text-gray-50">Contacts</h4>
          <div class="relative z-50 hidden modal" id="modal-id2" aria-modal="true" role="modal-fifth">
              <div class="fixed inset-0 z-50 overflow-hidden">
                  <div class="absolute inset-0 transition-opacity bg-black bg-opacity-50 modal-overlay"></div>
                  <div class="flex items-center justify-center max-w-lg min-h-screen p-4 mx-auto text-center animate-translate">
                      <div class="relative w-full max-w-lg my-8 overflow-hidden text-left transition-all transform bg-white rounded-lg shadow-xl -top-10 dark:bg-zinc-700">
                          <div class="bg-violet-800/10 dark:bg-zinc-700">
                              <div class="flex items-center justify-between p-4 border-b border-gray-100 dark:border-zinc-500">
                                  <h5 class="mb-0 text-gray-800 text-16 dark:text-gray-50" id="addgroup-exampleModaL">Add Contact</h5>
                                  <button type="button" class="absolute top-3 ltr:right-2.5 rtl:left-2.5 text-gray-400 border-transparent hover:bg-gray-50/50/50 hover:text-gray-900 rounded-lg text-sm px-2 py-1 ml-auto inline-flex items-center dark:hover:bg-zinc-600 dark:text-gray-100" data-tw-dismiss="modal">
                                      <i class="text-xl text-gray-500 mdi mdi-close dark:text-zinc-100/60"></i>
                                  </button>
                              </div>
                              <div class="p-4">
                                  <form>
                                      <div class="mb-5 ltr:text-left rtl:text-right">
                                          <label class="block mb-2 dark:text-gray-300">Email</label>
                                          <input type="text" class="py-1.5 bg-transparent border-gray-100 rounded placeholder:text-13 w-full focus:border-violet-500 focus:ring-0 focus:ring-offset-0 dark:border-zinc-500 dark:placeholder:text-gray-300" id="addgroupname-input1" placeholder="Enter Email">
                                      </div>
                                      <div class="mb-5 ltr:text-left rtl:text-right">
                                          <label class="block mb-2 dark:text-gray-300">Invatation Message</label>
                                          <textarea class="w-full bg-transparent border-gray-100 rounded placeholder:text-13 focus:border-violet-500 focus:ring-0 focus:ring-offset-0 dark:border-zinc-500 dark:placeholder:text-gray-300" id="addgroupdescription-input1" rows="3" placeholder="Enter Message"></textarea>
                                      </div>
                                  </form>
                              </div>
                              <div class="flex justify-end p-4 border-t border-gray-100 dark:border-zinc-500">
                                  <div>
                                      <button type="button" class="border-0 btn hover:underline group-data-[theme-color=violet]:text-violet-500 group-data-[theme-color=green]:text-green-500 group-data-[theme-color=red]:text-red-500" data-tw-dismiss="modal">Close</button>
                                      <button type="button" class="text-white border-transparent btn group-data-[theme-color=violet]:bg-violet-500 group-data-[theme-color=violet]:hover:bg-violet-600 group-data-[theme-color=green]:bg-green-500 group-data-[theme-color=green]:hover:bg-green-600 group-data-[theme-color=red]:bg-red-500 group-data-[theme-color=red]:hover:bg-red-600">Invite Contact</button>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="py-1 mt-5 mb-5 group-data-[theme-color=violet]:bg-slate-100 group-data-[theme-color=green]:bg-green-50 group-data-[theme-color=red]:bg-red-50 rounded group-data-[theme-color=violet]:dark:bg-zinc-600 group-data-[theme-color=green]:dark:bg-zinc-600 group-data-[theme-color=red]:dark:bg-zinc-600">
              <span class="group-data-[theme-color=violet]:bg-slate-100 group-data-[theme-color=green]:bg-green-50 group-data-[theme-color=red]:bg-red-50 pe-1 ps-3 group-data-[theme-color=violet]:dark:bg-zinc-600 group-data-[theme-color=green]:dark:bg-zinc-600 group-data-[theme-color=red]:dark:bg-zinc-600" id="basic-addon">
                  <i class="text-lg text-gray-700 ri-search-line search-icon dark:text-gray-200"></i>
              </span>
              <input type="text" class="border-0 group-data-[theme-color=violet]:bg-slate-100 group-data-[theme-color=green]:bg-green-50 group-data-[theme-color=red]:bg-red-50 group-data-[theme-color=violet]:dark:bg-zinc-600 group-data-[theme-color=green]:dark:bg-zinc-600 group-data-[theme-color=red]:dark:bg-zinc-600 placeholder:text-[14px] focus:ring-offset-0 focus:outline-none focus:ring-0 placeholder:dark:text-gray-300" placeholder="Search users.." aria-describedby="basic-addon">
          </div>
      </div>


      <!-- Start contact lists -->
      <div class="h-[80vh]" data-simplebar>

          <div class="p-6">
            <%- include('./contact-list.ejs') %>
            </div>
      </div>
      <!-- end contact lists -->
  </div>
</div>