<div class="tab-content">
  <!-- Start profile content -->
  <div>
      <div class="px-6 pt-6">
          <div class="ltr:float-right rtl:float-left">
              <div class="relative flex-shrink-0 dropdown">
                  <button class="p-0 text-gray-400 border-0 btn dropdown-toggle dark:text-gray-300" data-bs-toggle="dropdown" id="dropdownMenuButtonA">
                      <i class="text-lg ri-more-2-fill"></i>
                  </button>
                  <ul class="absolute z-50 block w-40 py-2 text-left list-none bg-white border border-transparent rounded shadow-lg rtl:right-auto rtl:left-0 ltr:left-auto ltr:right-0 my-7 dropdown-menu bg-clip-padding dark:bg-zinc-700 dark:shadow-sm dark:border-zinc-600" aria-labelledby="dropdownMenuButtonA">
                      <li>
                          <a class="block w-full px-4 py-2 text-sm font-normal text-gray-700 bg-transparent dropdown-item whitespace-nowrap hover:bg-gray-100/50 dark:text-gray-100 dark:hover:bg-zinc-600 ltr:text-left rtl:text-right" href="#">Action</a>
                      </li>
                      <li>
                          <a class="block w-full px-4 py-2 text-sm font-normal text-gray-700 bg-transparent dropdown-item whitespace-nowrap hover:bg-gray-100/50 dark:text-gray-100 dark:hover:bg-zinc-600 ltr:text-left rtl:text-right" href="#">Another action</a>
                      </li>
                      <li class="my-2 border-b border-gray-100/20 dark:border-zinc-600"></li>
                      <li>
                          <a class="block w-full px-4 py-2 text-sm font-normal text-gray-700 bg-transparent dropdown-item whitespace-nowrap hover:bg-gray-100/50 dark:text-gray-100 dark:hover:bg-zinc-600 ltr:text-left rtl:text-right" href="#">Delete</a>
                      </li>
                  </ul>
              </div>
          </div>
          <h4 class="mb-0 text-gray-700 dark:text-gray-50">My Profile</h4>
      </div>
      <div class="p-6 text-center border-b border-gray-100 dark:border-zinc-600">
          <div class="mb-4">
              <img src="<%- currentUser.profilePicture %>" class="w-24 h-24 p-1 mx-auto border border-gray-100 rounded-full dark:border-zinc-800" alt="">
          </div>
          <h5 class="mb-1 text-16 dark:text-gray-50"> <%- currentUser.name %> </h5>
          <h5 class="mb-0 truncate text-14 ltr:block rtl:hidden">
              <a href="#" class="text-gray-500 dark:text-gray-50">
                  <i class="text-green-500 ltr:ml-1 rtl:mr-1 ri-record-circle-fill text-10 "></i>
                  Active
              </a>
          </h5>
          <h5 class="mb-0 truncate text-14 ltr:hidden rtl:block">
              <a href="#" class="text-gray-500 dark:text-gray-50">
                  Active <i class="text-green-500 ltr:ml-1 rtl:mr-1 ri-record-circle-fill text-10 "></i>
              </a>
          </h5>
      </div>
      <!-- End profile user -->
      <!-- Start user-profile-desc -->
      <div class="p-6 h-[550px]" data-simplebar>
          <div>
              <p class="mb-6 text-gray-500 dark:text-gray-300">If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual.</p>
          </div>
          <div data-tw-accordion="collapse">
              <div class="text-gray-700 accordion-item">
                  <h2>
                      <button type="button" class="flex items-center justify-between w-full px-3 py-2 font-medium text-left border border-gray-100 rounded-t accordion-header group active dark:border-b-zinc-600 dark:bg-zinc-600 dark:border-zinc-600">
                          <span class="m-0 text-[14px] dark:text-gray-50 font-semibold ltr:block rtl:hidden">
                              <i class="mr-2 align-middle ri-user-2-line d-inline-block"></i>
                              About
                  
                          </span>
                          <span class="m-0 text-[14px] dark:text-gray-50 font-semibold ltr:hidden rtl:block">
                              About <i class="ml-2 align-middle ri-user-2-line d-inline-block"></i>
                          </span>
                          <i class="mdi mdi-chevron-down text-lg group-[.active]:rotate-180 dark:text-gray-50"></i>
                      </button>
                  </h2>
                  <div class="block bg-white border border-t-0 border-gray-100 accordion-body dark:bg-transparent dark:border-zinc-600">
                      <div class="p-5">
                          <div>
                              <p class="mb-1 text-gray-500 dark:text-gray-300">Name</p>
                              <h5 class="text-sm dark:text-gray-50"><%- currentUser.name %></h5>
                          </div>
                          <div class="mt-5">
                              <p class="mb-1 text-gray-500 dark:text-gray-300">Email</p>
                              <h5 class="text-sm dark:text-gray-50"><%- currentUser.email %></h5>
                          </div>
                          <div class="mt-5">
                              <p class="mb-1 text-gray-500 dark:text-gray-300">Time</p>
                              <h5 class="text-sm dark:text-gray-50">11:40 AM</h5>
                          </div>
                          <div class="mt-5">
                              <p class="mb-1 text-gray-500 dark:text-gray-300">Location</p>
                              <h5 class="text-sm dark:text-gray-50">California, USA</h5>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="mt-2 text-gray-700 accordion-item">
                  <h2>
                      <button type="button" class="flex items-center justify-between w-full px-3 py-2 font-medium text-left border border-gray-100 rounded accordion-header group dark:border-b-zinc-600 dark:bg-zinc-600 dark:border-zinc-600">
                          <span class="m-0 text-[14px] dark:text-gray-50 font-semibold ltr:block rtl:hidden">
                              <i class="mr-2 align-middle ri-attachment-line d-inline-block"></i>
                              Attached Files
                  
                          </span>
                          <span class="m-0 text-[14px] dark:text-gray-50 font-semibold ltr:hidden rtl:block">
                              Attached Files <i class="ml-2 align-middle ri-attachment-line d-inline-block"></i>
                          </span>
                          <i class="mdi mdi-chevron-down text-lg group-[.active]:rotate-180 dark:text-gray-50"></i>
                      </button>
                  </h2>
                  <div class="hidden bg-white border border-t-0 border-gray-100 accordion-body dark:bg-transparent dark:border-zinc-600">
                      <div class="p-5">
                          <div class="p-2 mb-2 border rounded border-gray-100/80 dark:bg-zinc-800 dark:border-transparent">
                              <div class="flex items-center">
                                  <div class="flex items-center justify-center w-10 h-10 rounded ltr:mr-3 group-data-[theme-color=violet]:bg-violet-500/20 group-data-[theme-color=green]:bg-green-500/20 group-data-[theme-color=red]:bg-red-500/20 rtl:ml-3">
                                      <div class="text-xl rounded-lg group-data-[theme-color=violet]:text-violet-500 group-data-[theme-color=green]:text-green-500 group-data-[theme-color=red]:text-red-500 avatar-title ">
                                          <i class="ri-file-text-fill"></i>
                                      </div>
                                  </div>
                                  <div class="flex-grow">
                                      <div class="text-start">
                                          <h5 class="mb-1 text-sm dark:text-gray-50">Admin-A.zip</h5>
                                          <p class="mb-0 text-gray-500 text-13 dark:text-gray-300">12.5 MB</p>
                                      </div>
                                  </div>
                                  <div class="ltr:ml-4 rtl:mr-4">
                                      <ul class="flex items-center gap-3 mb-0 text-lg">
                                          <li>
                                              <a href="#" class="px-1 text-gray-500 dark:text-gray-300">
                                                  <i class="ri-download-2-line"></i>
                                              </a>
                                          </li>
                                          <li class="relative flex-shrink-0 dropstart">
                                              <a href="#!" class="p-0 text-gray-400 border-0 btn dropdown-toggle dark:text-gray-300" data-bs-toggle="dropdown" id="dropdownMenuButton23">
                                                  <i class="text-lg ri-more-fill"></i>
                                              </a>
                                              <ul class="absolute z-50 block w-40 py-2 text-left list-none bg-white border border-transparent rounded shadow-lg rtl:left-0 rtl:right-auto ltr:right-0 ltr:left-auto my-7 dropdown-menu bg-clip-padding dark:bg-zinc-700 dark:shadow-sm dark:border-zinc-600" aria-labelledby="dropdownMenuButton23">
                                                  <li>
                                                      <a class="block w-full px-4 py-2 text-sm font-normal text-gray-700 bg-transparent dropdown-item whitespace-nowrap hover:bg-gray-100/50 dark:text-gray-100 dark:hover:bg-zinc-600 ltr:text-left rtl:text-right" href="#">Action</a>
                                                  </li>
                                                  <li>
                                                      <a class="block w-full px-4 py-2 text-sm font-normal text-gray-700 bg-transparent dropdown-item whitespace-nowrap hover:bg-gray-100/50 dark:text-gray-100 dark:hover:bg-zinc-600 ltr:text-left rtl:text-right" href="#">Another action</a>
                                                  </li>
                                                  <li class="my-2 border-b border-gray-100/20 dark:border-zinc-600"></li>
                                                  <li>
                                                      <a class="block w-full px-4 py-2 text-sm font-normal text-gray-700 bg-transparent dropdown-item whitespace-nowrap hover:bg-gray-100/50 dark:text-gray-100 dark:hover:bg-zinc-600 ltr:text-left rtl:text-right" href="#">Delete</a>
                                                  </li>
                                              </ul>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                          <div class="p-2 mb-2 border rounded border-gray-100/80 dark:bg-zinc-800 dark:border-transparent">
                              <div class="flex items-center">
                                  <div class="flex items-center justify-center w-10 h-10 rounded ltr:mr-3 group-data-[theme-color=violet]:bg-violet-500/20 group-data-[theme-color=green]:bg-green-500/20 group-data-[theme-color=red]:bg-red-500/20 rtl:ml-3">
                                      <div class="text-xl rounded-lg group-data-[theme-color=violet]:text-violet-500 group-data-[theme-color=green]:text-green-500 group-data-[theme-color=red]:text-red-500 avatar-title ">
                                          <i class="ri-file-text-fill"></i>
                                      </div>
                                  </div>
                                  <div class="flex-grow">
                                      <div class="text-start">
                                          <h5 class="mb-1 text-sm dark:text-gray-50">Image-1.jpg</h5>
                                          <p class="mb-0 text-gray-500 text-13 dark:text-gray-300">4.2 MB</p>
                                      </div>
                                  </div>
                                  <div class="ltr:ml-4 rtl:mr-4">
                                      <ul class="flex items-center gap-3 mb-0 text-lg">
                                          <li>
                                              <a href="#" class="px-1 text-gray-500 dark:text-gray-300">
                                                  <i class="ri-download-2-line"></i>
                                              </a>
                                          </li>
                                          <li class="relative flex-shrink-0 dropstart">
                                              <a href="#!" class="p-0 text-gray-400 border-0 btn dropdown-toggle dark:text-gray-300" data-bs-toggle="dropdown" id="dropdownMenuButton2">
                                                  <i class="text-lg ri-more-fill"></i>
                                              </a>
                                              <ul class="absolute z-50 block w-40 py-2 text-left list-none bg-white border border-transparent rounded shadow-lg rtl:left-0 rtl:right-auto ltr:right-0 ltr:left-auto my-7 dropdown-menu bg-clip-padding dark:bg-zinc-700 dark:shadow-sm dark:border-zinc-600" aria-labelledby="dropdownMenuButton2">
                                                  <li>
                                                      <a class="block w-full px-4 py-2 text-sm font-normal text-gray-700 bg-transparent dropdown-item whitespace-nowrap hover:bg-gray-100/50 dark:text-gray-100 dark:hover:bg-zinc-600 ltr:text-left rtl:text-right" href="#">Action</a>
                                                  </li>
                                                  <li>
                                                      <a class="block w-full px-4 py-2 text-sm font-normal text-gray-700 bg-transparent dropdown-item whitespace-nowrap hover:bg-gray-100/50 dark:text-gray-100 dark:hover:bg-zinc-600 ltr:text-left rtl:text-right" href="#">Another action</a>
                                                  </li>
                                                  <li class="my-2 border-b border-gray-100/20 dark:border-zinc-600"></li>
                                                  <li>
                                                      <a class="block w-full px-4 py-2 text-sm font-normal text-gray-700 bg-transparent dropdown-item whitespace-nowrap hover:bg-gray-100/50 dark:text-gray-100 dark:hover:bg-zinc-600 ltr:text-left rtl:text-right" href="#">Delete</a>
                                                  </li>
                                              </ul>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                          <div class="p-2 mb-2 border rounded border-gray-100/80 dark:bg-zinc-800 dark:border-transparent">
                              <div class="flex items-center">
                                  <div class="flex items-center justify-center w-10 h-10 rounded ltr:mr-3 group-data-[theme-color=violet]:bg-violet-500/20 group-data-[theme-color=green]:bg-green-500/20 group-data-[theme-color=red]:bg-red-500/20 rtl:ml-3">
                                      <div class="text-xl rounded-lg group-data-[theme-color=violet]:text-violet-500 group-data-[theme-color=green]:text-green-500 group-data-[theme-color=red]:text-red-500 avatar-title ">
                                          <i class="ri-file-text-fill"></i>
                                      </div>
                                  </div>
                                  <div class="flex-grow">
                                      <div class="text-start">
                                          <h5 class="mb-1 text-sm dark:text-gray-50">Image-2.jpg</h5>
                                          <p class="mb-0 text-gray-500 text-13 dark:text-gray-300">3.1 MB</p>
                                      </div>
                                  </div>
                                  <div class="ltr:ml-4 rtl:mr-4">
                                      <ul class="flex items-center gap-3 mb-0 text-lg">
                                          <li>
                                              <a href="#" class="px-1 text-gray-500 dark:text-gray-300">
                                                  <i class="ri-download-2-line"></i>
                                              </a>
                                          </li>
                                          <li class="relative flex-shrink-0 dropstart">
                                              <a href="#!" class="p-0 text-gray-400 border-0 btn dropdown-toggle dark:text-gray-300" data-bs-toggle="dropdown" id="dropdownMenuButton3">
                                                  <i class="text-lg ri-more-fill"></i>
                                              </a>
                                              <ul class="absolute z-50 block w-40 py-2 text-left list-none bg-white border border-transparent rounded shadow-lg rtl:left-0 rtl:right-auto ltr:right-0 ltr:left-auto my-7 dropdown-menu bg-clip-padding dark:bg-zinc-700 dark:shadow-sm dark:border-zinc-600" aria-labelledby="dropdownMenuButton3">
                                                  <li>
                                                      <a class="block w-full px-4 py-2 text-sm font-normal text-gray-700 bg-transparent dropdown-item whitespace-nowrap hover:bg-gray-100/50 dark:text-gray-100 dark:hover:bg-zinc-600 ltr:text-left rtl:text-right" href="#">Action</a>
                                                  </li>
                                                  <li>
                                                      <a class="block w-full px-4 py-2 text-sm font-normal text-gray-700 bg-transparent dropdown-item whitespace-nowrap hover:bg-gray-100/50 dark:text-gray-100 dark:hover:bg-zinc-600 ltr:text-left rtl:text-right" href="#">Another action</a>
                                                  </li>
                                                  <li class="my-2 border-b border-gray-100/20 dark:border-zinc-600"></li>
                                                  <li>
                                                      <a class="block w-full px-4 py-2 text-sm font-normal text-gray-700 bg-transparent dropdown-item whitespace-nowrap hover:bg-gray-100/50 dark:text-gray-100 dark:hover:bg-zinc-600 ltr:text-left rtl:text-right" href="#">Delete</a>
                                                  </li>
                                              </ul>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                          <div class="p-2 mb-2 border rounded border-gray-100/80 dark:bg-zinc-800 dark:border-transparent">
                              <div class="flex items-center">
                                  <div class="flex items-center justify-center w-10 h-10 rounded ltr:mr-3 group-data-[theme-color=violet]:bg-violet-500/20 group-data-[theme-color=green]:bg-green-500/20 group-data-[theme-color=red]:bg-red-500/20 rtl:ml-3">
                                      <div class="text-xl rounded-lg group-data-[theme-color=violet]:text-violet-500 group-data-[theme-color=green]:text-green-500 group-data-[theme-color=red]:text-red-500 avatar-title ">
                                          <i class="ri-file-text-fill"></i>
                                      </div>
                                  </div>
                                  <div class="flex-grow">
                                      <div class="text-start">
                                          <h5 class="mb-1 text-sm dark:text-gray-50">Landing-A.zip</h5>
                                          <p class="mb-0 text-gray-500 text-13 dark:text-gray-300">6.7 MB</p>
                                      </div>
                                  </div>
                                  <div class="ltr:ml-4 rtl:mr-4">
                                      <ul class="flex items-center gap-3 mb-0 text-lg">
                                          <li>
                                              <a href="#" class="px-1 text-gray-500 dark:text-gray-300">
                                                  <i class="ri-download-2-line"></i>
                                              </a>
                                          </li>
                                          <li class="relative flex-shrink-0 dropstart">
                                              <a href="#!" class="p-0 text-gray-400 border-0 btn dropdown-toggle dark:text-gray-300" data-bs-toggle="dropdown" id="dropdownMenuButton4">
                                                  <i class="text-lg ri-more-fill"></i>
                                              </a>
                                              <ul class="absolute z-50 block w-40 py-2 text-left list-none bg-white border border-transparent rounded shadow-lg rtl:left-0 rtl:right-auto ltr:right-0 ltr:left-auto my-7 dropdown-menu bg-clip-padding dark:bg-zinc-700 dark:shadow-sm dark:border-zinc-600" aria-labelledby="dropdownMenuButton4">
                                                  <li>
                                                      <a class="block w-full px-4 py-2 text-sm font-normal text-gray-700 bg-transparent dropdown-item whitespace-nowrap hover:bg-gray-100/50 dark:text-gray-100 dark:hover:bg-zinc-600 ltr:text-left rtl:text-right" href="#">Action</a>
                                                  </li>
                                                  <li>
                                                      <a class="block w-full px-4 py-2 text-sm font-normal text-gray-700 bg-transparent dropdown-item whitespace-nowrap hover:bg-gray-100/50 dark:text-gray-100 dark:hover:bg-zinc-600 ltr:text-left rtl:text-right" href="#">Another action</a>
                                                  </li>
                                                  <li class="my-2 border-b border-gray-100/20 dark:border-zinc-600"></li>
                                                  <li>
                                                      <a class="block w-full px-4 py-2 text-sm font-normal text-gray-700 bg-transparent dropdown-item whitespace-nowrap hover:bg-gray-100/50 dark:text-gray-100 dark:hover:bg-zinc-600 ltr:text-left rtl:text-right" href="#">Delete</a>
                                                  </li>
                                              </ul>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
