<div class="tab-content">
  <!-- Start profile content -->
  <div>
      <div class="px-6 pt-6">
          <h4 class="mb-0 text-gray-700 dark:text-gray-50">Settings</h4>
      </div>
      <div class="p-6 text-center border-b border-gray-100 dark:border-zinc-500">
          <div class="relative mb-4">
              <img src="<%- currentUser.profilePicture %>" class="w-24 h-24 p-1 mx-auto border border-gray-100 rounded-full dark:border-zinc-800" alt="">
              <a href="#!" class="absolute bottom-0 w-10 h-10 bg-gray-100 rounded-full ltr:right-28 rtl:left-28dark:bg-zinc-800 dark:text-gray-100">
                  <i class="leading-10 ri-pencil-fill text-16"></i>
              </a>
          </div>
          <h5 class="mb-1 text-16 dark:text-gray-50"><%- currentUser.name %></h5>
          <div class="relative mb-1 dropdown">
              <a class="pb-1 text-gray-500 dropdown-toggle d-block dark:text-gray-300" href="#" role="button" data-bs-toggle="dropdown" id="dropdownMenuButtonX">
                  Available <i class="mdi mdi-chevron-down"></i>
              </a>
              <ul class="absolute z-50 hidden py-2 mt-2 text-left list-none bg-white border rounded shadow-lg left-20 dropdown-menu w-36 top-6 dark:bg-zinc-700 bg-clip-padding border-gray-50 dark:border-zinc-500" aria-labelledby="dropdownMenuButtonX">
                  <li>
                      <a class="block w-full px-4 py-2 text-sm font-normal text-gray-700 bg-transparent dropdown-item whitespace-nowrap hover:bg-gray-100/50 dark:text-gray-100 dark:hover:bg-zinc-600/80 ltr:text-left rtl:text-right" href="#">Available</a>
                  </li>
                  <li>
                      <a class="block w-full px-4 py-2 text-sm font-normal text-gray-700 bg-transparent dropdown-item whitespace-nowrap hover:bg-gray-100/50 dark:text-gray-100 dark:hover:bg-zinc-600/80 ltr:text-left rtl:text-right" href="#">Busy</a>
                  </li>
              </ul>
          </div>
      </div>
      <!-- End profile user -->
      <!-- Start user-profile-desc -->
      <div class="p-6 h-[550px]" data-simplebar>
          <div data-tw-accordion="collapse">
              <div class="text-gray-700 accordion-item">
                  <h2>
                      <button type="button" class="flex items-center justify-between w-full px-3 py-2 font-medium text-left border border-gray-100 rounded-t accordion-header group active dark:border-zinc-600 dark:bg-zinc-600 dark:text-gray-50">
                          <span class="m-0 text-[14px] font-medium">Personal Info</span>
                          <i class="mdi mdi-chevron-down text-lg group-[.active]:rotate-180"></i>
                      </button>
                  </h2>
                  <div class="block bg-white border border-t-0 border-gray-100 accordion-body dark:bg-transparent dark:border-zinc-600">
                      <div class="p-5">
                          <div>
                              <div class="ltr:float-right rtl:float-left">
                                  <button type="button" class="py-1.5 btn bg-slate-100 border-transparent rounded hover:bg-gray-50 transition-all ease-in-out dark:bg-zinc-600 dark:text-gray-50 dark:hover:bg-zinc-500/50">
                                      <i class="mr-1 align-middle ri-edit-fill"></i>
                                      Edit
                                  </button>
                              </div>
                              <p class="mb-1 text-gray-500 dark:text-gray-300">Name</p>
                              <h5 class="text-sm dark:text-gray-50"><%- currentUser.name %></h5>
                          </div>
                          <div class="mt-5">
                              <p class="mb-1 text-gray-500 dark:text-gray-300">Email</p>
                              <h5 class="text-sm dark:text-gray-50"><%- currentUser.email %></h5>
                          </div>
                          <div class="mt-5">
                              <p class="mb-1 text-gray-500 dark:text-gray-300">Time</p>
                              <h5 class="text-sm dark:text-gray-50">11:40 AM</h5>
                          </div>
                          <div class="mt-5">
                              <p class="mb-1 text-gray-500 dark:text-gray-300">Location</p>
                              <h5 class="text-sm dark:text-gray-50">California, USA</h5>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="mt-2 text-gray-700 accordion-item">
                  <h2>
                      <button type="button" class="flex items-center justify-between w-full px-3 py-2 font-medium text-left border border-gray-100 rounded accordion-header group dark:bg-zinc-600 dark:text-gray-50 dark:border-zinc-600">
                          <span class="m-0 text-[14px] font-semibold">Privacy</span>
                          <i class="mdi mdi-chevron-down text-lg group-[.active]:rotate-180"></i>
                      </button>
                  </h2>
                  <div class="hidden bg-white border border-t-0 border-gray-100 accordion-body dark:bg-transparent dark:border-zinc-600">
                      <div class="p-5">
                          <div class="py-4">
                              <div class="flex items-center">
                                  <div class="flex-grow overflow-hidden">
                                      <h5 class="mb-0 text-gray-700 truncate text-13 dark:text-gray-50">Profile photo</h5>
                                  </div>
                                  <div class="relative flex-shrink-0 dropdown">
                                      <button class="border-transparent rounded btn dropdown-toggle bg-slate-100 px-1.5 py-1 dark:bg-zinc-500 dark:text-gray-50 " type="button" data-bs-toggle="dropdown" id="dropdownMenuButtonY">
                                          Everyone <i class="mdi mdi-chevron-down"></i>
                                      </button>
                                      <ul class="absolute z-50 block w-40 py-2 my-8 text-left list-none bg-white border border-transparent rounded shadow-lg rtl:left-0 rtl:right-auto ltr:right-0 ltr:left-auto dropdown-menu bg-clip-padding dark:bg-zinc-700 dark:shadow-sm dark:border-zinc-600" aria-labelledby="dropdownMenuButtonY">
                                          <li>
                                              <a class="block w-full px-5 py-2 text-sm font-normal text-gray-700 bg-transparent dropdown-item whitespace-nowrap hover:bg-gray-100/50 dark:text-gray-100 dark:hover:bg-zinc-600" href="#">Everyone</a>
                                          </li>
                                          <li>
                                              <a class="block w-full px-5 py-2 text-sm font-normal text-gray-700 bg-transparent dropdown-item whitespace-nowrap hover:bg-gray-100/50 dark:text-gray-100 dark:hover:bg-zinc-600" href="#">selected</a>
                                          </li>
                                          <li>
                                              <a class="block w-full px-5 py-2 text-sm font-normal text-gray-700 bg-transparent dropdown-item whitespace-nowrap hover:bg-gray-100/50 dark:text-gray-100 dark:hover:bg-zinc-600" href="#">Nobody</a>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                          <div class="py-4 border-t border-gray-100/80 dark:border-zinc-600">
                              <div class="flex items-center">
                                  <div class="flex-grow overflow-hidden">
                                      <h5 class="mb-0 text-gray-700 truncate text-13 dark:text-gray-50">Last seen</h5>
                                  </div>
                                  <div class="flex items-center">
                                      <label for="toggleSwitch" class="flex items-center cursor-pointer">
                                          <span class="relative">
                                              <input type="checkbox" id="toggleSwitch" class="sr-only" checked>
                                              <span class="block w-8 h-5 rounded-full checked-bg"></span>
                                              <span class="absolute w-3 h-3 transition rounded-full dot left-1 top-1"></span>
                                          </span>
                                      </label>
                                  </div>
                              </div>
                          </div>
                          <div class="py-4 border-t border-gray-100/80 dark:border-zinc-600">
                              <div class="flex items-center">
                                  <div class="flex-grow overflow-hidden">
                                      <h5 class="mb-0 text-gray-700 truncate text-13 dark:text-gray-50">Status</h5>
                                  </div>
                                  <div class="relative flex-shrink-0 dropdown">
                                      <button class="border-transparent rounded btn dropdown-toggle bg-slate-100 px-1.5 py-1 dark:bg-zinc-500 dark:text-gray-50 " type="button" data-bs-toggle="dropdown" id="dropdownMenuButtonT">
                                          Everyone <i class="mdi mdi-chevron-down"></i>
                                      </button>
                                      <ul class="absolute z-50 block w-40 py-2 my-8 text-left list-none bg-white border border-transparent rounded shadow-lg rtl:left-0 rtl:right-auto ltr:right-0 ltr:left-auto dropdown-menu bg-clip-padding dark:bg-zinc-700 dark:shadow-sm dark:border-zinc-600" aria-labelledby="dropdownMenuButtonT">
                                          <li>
                                              <a class="block w-full px-5 py-2 text-sm font-normal text-gray-700 bg-transparent dropdown-item whitespace-nowrap hover:bg-gray-100/50 dark:text-gray-100 dark:hover:bg-zinc-600" href="#">Everyone</a>
                                          </li>
                                          <li>
                                              <a class="block w-full px-5 py-2 text-sm font-normal text-gray-700 bg-transparent dropdown-item whitespace-nowrap hover:bg-gray-100/50 dark:text-gray-100 dark:hover:bg-zinc-600" href="#">selected</a>
                                          </li>
                                          <li>
                                              <a class="block w-full px-5 py-2 text-sm font-normal text-gray-700 bg-transparent dropdown-item whitespace-nowrap hover:bg-gray-100/50 dark:text-gray-100 dark:hover:bg-zinc-600" href="#">Nobody</a>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                          <div class="py-4 border-t border-gray-100/80 dark:border-zinc-600">
                              <div class="flex items-center">
                                  <div class="flex-grow overflow-hidden">
                                      <h5 class="mb-0 text-gray-700 truncate text-13 dark:text-gray-50">Read receipts</h5>
                                  </div>
                                  <div class="flex items-center">
                                      <label for="toggleSwitch2" class="flex items-center cursor-pointer">
                                          <span class="relative">
                                              <input type="checkbox" id="toggleSwitch2" class="sr-only" checked>
                                              <span class="block w-8 h-5 rounded-full checked-bg"></span>
                                              <span class="absolute w-3 h-3 transition rounded-full dot left-1 top-1"></span>
                                          </span>
                                      </label>
                                  </div>
                              </div>
                          </div>
                          <div class="py-4 border-t border-gray-100/80 dark:border-zinc-600">
                              <div class="flex items-center">
                                  <div class="flex-grow overflow-hidden">
                                      <h5 class="mb-0 text-gray-700 truncate text-13 dark:text-gray-50">Profile photo</h5>
                                  </div>
                                  <div class="relative flex-shrink-0 dropdown">
                                      <button class="border-transparent rounded btn dropdown-toggle bg-slate-100 px-1.5 py-1 dark:bg-zinc-500 dark:text-gray-50 " type="button" data-bs-toggle="dropdown" id="dropdownMenuButtonZM">
                                          Everyone <i class="mdi mdi-chevron-down"></i>
                                      </button>
                                      <ul class="absolute z-50 block w-40 py-2 my-8 text-left list-none bg-white border border-transparent rounded shadow-lg rtl:left-0 rtl:right-auto ltr:right-0 ltr:left-auto dropdown-menu bg-clip-padding dark:bg-zinc-700 dark:shadow-sm dark:border-zinc-600" aria-labelledby="dropdownMenuButtonZM">
                                          <li>
                                              <a class="block w-full px-5 py-2 text-sm font-normal text-gray-700 bg-transparent dropdown-item whitespace-nowrap hover:bg-gray-100/50 dark:text-gray-100 dark:hover:bg-zinc-600" href="#">Everyone</a>
                                          </li>
                                          <li>
                                              <a class="block w-full px-5 py-2 text-sm font-normal text-gray-700 bg-transparent dropdown-item whitespace-nowrap hover:bg-gray-100/50 dark:text-gray-100 dark:hover:bg-zinc-600" href="#">selected</a>
                                          </li>
                                          <li>
                                              <a class="block w-full px-5 py-2 text-sm font-normal text-gray-700 bg-transparent dropdown-item whitespace-nowrap hover:bg-gray-100/50 dark:text-gray-100 dark:hover:bg-zinc-600" href="#">Nobody</a>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="mt-2 text-gray-700 accordion-item">
                  <h2>
                      <button type="button" class="flex items-center justify-between w-full px-3 py-2 font-medium text-left border border-gray-100 rounded accordion-header group dark:border-zinc-600 dark:bg-zinc-600 dark:text-gray-50">
                          <span class="m-0 text-[14px] font-medium">Security</span>
                          <i class="mdi mdi-chevron-down text-lg group-[.active]:rotate-180"></i>
                      </button>
                  </h2>
                  <div class="hidden bg-white border border-t-0 border-gray-100 accordion-body dark:bg-transparent dark:border-zinc-600">
                      <div class="p-5">
                          <div>
                              <div class="flex items-center">
                                  <div class="flex-grow overflow-hidden">
                                      <h5 class="mb-0 text-gray-700 truncate text-13 dark:text-gray-50">Show security notification</h5>
                                  </div>
                                  <div class="flex items-center">
                                      <label for="toggleSwitch3" class="flex items-center cursor-pointer">
                                          <span class="relative">
                                              <input type="checkbox" id="toggleSwitch3" class="sr-only">
                                              <span class="block w-8 h-5 rounded-full checked-bg"></span>
                                              <span class="absolute w-3 h-3 transition rounded-full dot left-1 top-1"></span>
                                          </span>
                                      </label>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="mt-2 text-gray-700 accordion-item">
                  <h2>
                      <button type="button" class="flex items-center justify-between w-full px-3 py-2 font-medium text-left border border-gray-100 rounded accordion-header group dark:border-zinc-600 dark:bg-zinc-600 dark:text-gray-50">
                          <span class="m-0 text-[14px] font-medium">Help</span>
                          <i class="mdi mdi-chevron-down text-lg group-[.active]:rotate-180"></i>
                      </button>
                  </h2>
                  <div class="hidden bg-white border border-t-0 border-gray-100 accordion-body dark:bg-transparent dark:border-zinc-600">
                      <div class="p-5">
                          <div class="py-3">
                              <h5 class="mb-0 text-gray-700 text-13 dark:text-gray-300">
                                  <a href="#" class="block text-body">FAQs</a>
                              </h5>
                          </div>
                          <div class="py-3 border-t border-gray-100 dark:border-zinc-600">
                              <h5 class="mb-0 text-gray-700 text-13 dark:text-gray-300">
                                  <a href="#" class="text-body d-block">Contact</a>
                              </h5>
                          </div>
                          <div class="py-3 border-t border-gray-100 dark:border-zinc-600">
                              <h5 class="mb-0 text-gray-700 text-13 dark:text-gray-300">
                                  <a href="#" class="text-body d-block">Terms & Privacy policy</a>
                              </h5>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>