
<div class="current-user-chat clear-both py-4" id="<%- message._id %>"> 
    <div class="flex gap-2 mb-2 ltr:justify-end rtl:justify-start">
        <div class="relative order-2 px-5 py-3 text-gray-700 rounded-lg ltr:rounded-br-none rtl:rounded-bl-none bg-gray-50 dark:bg-zinc-700 dark:text-gray-50">
            <p class="mb-0"><%- message.body %></p>
            <p class="mt-1 mb-0 text-xs text-left text-gray-500 dark:text-gray-300">
                <i class="align-middle ri-time-line"></i>
                <span class="align-middle"><%- UtilsLib.fmtMongoDbDate(message.created) %></span>
            </p>
            <div class="before:content-[''] before:absolute before:border-[5px] before:border-transparent ltr:before:border-r-gray-50 ltr:before:border-t-gray-50 rtl:before:border-l-gray-50 rtl:before:border-t-gray-50 ltr:before:right-0 rtl:before:left-0 before:-bottom-2 ltr:dark:before:border-t-zinc-700 ltr:dark:before:border-r-zinc-700 rtl:dark:before:border-t-zinc-700 rtl:dark:before:border-l-zinc-700"></div>
        </div>
    </div>
</div>
