
<a 
  href="/user/password-reset" 
  class="text-<%= locals.constantsLib.colors.PORTAL_BOX_SUB_HEADING_COLOR %>-600 hover:text-<%= locals.constantsLib.colors.PORTAL_BOX_SUB_HEADING_COLOR %>-500"
  >
  <%- locals.constantsLib.loginPagePhrases.FORGET_PASSWORD_LABEL %>
</a>