<div class="hidden lg:my-5 lg:block">
  <a href="/home" class="block dark:hidden">
      <span>
        <img src="/img/main-logo.svg" alt="Icon" class="mr-2" width="40" height="40">
      </span>
  </a>
  <a href="/home" class="hidden dark:block">
      <span>
        <img src="/img/main-logo.svg" alt="Icon" class="mr-2" width="40" height="40">
      </span>
  </a>
</div>