<div class="w-20 my-5 lg:w-auto">
  <ul class="lg:block">
      <li class="hidden text-center light-dark-mode nav-item lg:block">
          <a href="#" class="hidden dark:block dark:text-violet-100/80">
              <i class="text-2xl ri-sun-line "></i>
          </a>
          <a href="#" class="block text-gray-500 dark:hidden">
              <i class="text-2xl ri-moon-clear-line"></i>
          </a>
      </li>
      <li class="relative lg:mt-4 dropdown lg:dropup">
          <a href="#" class="dropdown-toggle" id="dropdownButton2" data-bs-toggle="dropdown">
              <img src="/img/chat/images/avatar-1.jpg" alt="" class="w-10 h-10 p-1 mx-auto rounded-full bg-gray-50 dark:bg-zinc-700">
          </a>
          <ul class="absolute z-40 hidden float-left w-40 py-2 mx-4 mb-12 text-left list-none bg-white border-none rounded-lg shadow-lg dropdown-menu bg-clip-padding dark:bg-zinc-700" aria-labelledby="dropdownButton2">
              <li>
                  <a class="block w-full px-4 py-2 text-sm font-normal text-gray-700 bg-transparent dropdown-item whitespace-nowrap hover:bg-gray-100/30 dark:text-gray-100 dark:hover:bg-zinc-600/50 ltr:text-left rtl:text-right" href="#">
                      Profile <i class="text-gray-500 rtl:float-left ltr:float-right ri-profile-line text-16"></i>
                  </a>
              </li>
              <li>
                  <a class="block w-full px-4 py-2 text-sm font-normal text-gray-700 bg-transparent dropdown-item whitespace-nowrap hover:bg-gray-100/30 dark:text-gray-100 dark:hover:bg-zinc-600/50 ltr:text-left rtl:text-right" href="#">
                      Setting <i class="text-gray-500 rtl:float-left ltr:float-right ri-settings-3-line text-16"></i>
                  </a>
              </li>
              <li>
                  <a class="block w-full px-4 py-2 text-sm font-normal text-gray-700 bg-transparent dropdown-item whitespace-nowrap hover:bg-gray-100/30 dark:text-gray-100 dark:hover:bg-zinc-600/50 ltr:text-left rtl:text-right" href="auth-lock-screen.html">
                      Lock Screen <i class="text-gray-500 rtl:float-left ltr:float-right ri-git-repository-private-line text-16"></i>
                  </a>
              </li>
              <li class="my-2 border-b border-gray-100/20"></li>
              <li>
                  <a class="block w-full px-4 py-2 text-sm font-normal text-gray-700 bg-transparent dropdown-item whitespace-nowrap hover:bg-gray-100/30 dark:text-gray-100 dark:hover:bg-zinc-600/50 ltr:text-left rtl:text-right" href="auth-login.html">
                      Log out <i class="text-gray-500 rtl:float-left ltr:float-right ri-logout-circle-r-line text-16"></i>
                  </a>
              </li>
          </ul>
      </li>
  </ul>
</div>