<div class="z-40 w-full p-6 mb-0 bg-white border-t lg:mb-1 border-gray-50 dark:bg-zinc-800 dark:border-zinc-700" id="chat-input-section-parent-div">
  <div class="flex gap-2">
      <div class="flex-grow">
          <input 
            id="send-message-input" 
            type="text" 
            class="w-full border-transparent rounded bg-gray-50 placeholder:text-14 text-14 dark:bg-zinc-700 dark:placeholder:text-gray-300 dark:text-gray-300" 
            placeholder="Enter Message..."
            >
      </div>
      <div>
          <div>
              <ul class="mb-0">
                  <li class="inline-block" title="Emoji">
                      <button type="button" class="border-transparent group/tooltip btn relative group-data-[theme-color=violet]:dark:text-violet-200 group-data-[theme-color=green]:dark:text-green-200 group-data-[theme-color=red]:dark:text-red-200 group-data-[theme-color=violet]:text-violet-500 group-data-[theme-color=green]:text-green-500 group-data-[theme-color=red]:text-red-500 text-16">
                          <div class="absolute items-center hidden -top-10 ltr:-left-2 group-hover/tooltip:flex rtl:-right-2">
                              <div class="absolute -bottom-1 left-[40%] w-3 h-3 rotate-45 bg-black"></div>
                              <span class="relative z-10 p-2 text-xs leading-none text-white whitespace-no-wrap bg-black rounded shadow-lg">Emoji</span>
                          </div>
                          <i class="ri-emotion-happy-line"></i>
                      </button>
                  </li>
                  <li class="inline-block" title="Attached File">
                      <button type="button" class="border-transparent btn group/tooltip group-data-[theme-color=violet]:dark:text-violet-200 group-data-[theme-color=green]:dark:text-green-200 group-data-[theme-color=red]:dark:text-red-200 group-data-[theme-color=violet]:text-violet-500 group-data-[theme-color=green]:text-green-500 group-data-[theme-color=red]:text-red-500 text-16">
                          <div class="absolute items-center hidden -top-10 ltr:-left-2 group-hover/tooltip:flex rtl:-right-2">
                              <div class="absolute -bottom-1 left-[40%] w-3 h-3 rotate-45 bg-black"></div>
                              <span class="relative z-10 p-2 text-xs leading-none text-white whitespace-no-wrap bg-black rounded shadow-lg">Attached File</span>
                          </div>
                          <i class="ri-attachment-line"></i>
                      </button>
                  </li>
                  <li class="inline-block">
                      <% const senderId = currentUser._id; %>
                      <% const recipientId = hearbeatUser.recipientId; %>
                      <% const identifier = hearbeatUser.heartbeatIdentifier; %>

                      <button 
                        id="send-message-btn" 
                        onclick="sendMessage('<%- senderId %>', '<%- recipientId %>', '<%- identifier %>', document.getElementById('send-message-input').value)" 
                        type="submit" 
                        class="text-white border-transparent btn group-data-[theme-color=violet]:bg-violet-500 group-data-[theme-color=green]:bg-green-500 group-data-[theme-color=red]:bg-red-500 group-data-[theme-color=violet]:hover:bg-violet-600 group-data-[theme-color=green]:hover:bg-green-600"
                        >
                          <i class="ri-send-plane-2-fill"></i>
                      </button>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</div>