<div id="backgroundDiv">
  <div class="nudge-default-chat-page-wrapper">
    <div class="nudge-default-chat-page-candles">
      <div class="nudge-default-chat-page-light__wave"></div>
      
      <div class="nudge-default-chat-page-candle1">
        <div class="candle1__body">
          <div class="nudge-default-chat-page-candle1__eyes">
            <span class="nudge-default-chat-page-candle1__eyes-one"></span>
            <span class="nudge-default-chat-page-candle1__eyes-two"></span>
          </div>
          <div class="nudge-default-chat-page-candle1__mouth"></div>
        </div>
        <div class="nudge-default-chat-page-candle1__stick"></div>
      </div>
      
      <div class="nudge-default-chat-page-candle2">
        <div class="candle2__body">
          <div class="nudge-default-chat-page-candle2__eyes">
            <div class="nudge-default-chat-page-candle2__eyes-one"></div>
            <div class="nudge-default-chat-page-candle2__eyes-two"></div>
          </div>
        </div>
        <div class="nudge-default-chat-page-candle2__stick"></div>
      </div>

      <div class="nudge-default-chat-page-candle2__fire"></div>
      <div class="sparkles-one"></div>
      <div class="sparkles-two"></div>
      <div class="nudge-default-chat-page-candle__smoke-one"></div>
      <div class="nudge-default-chat-page-candle__smoke-two"></div>
    </div>
    <div class="nudge-default-chat-page-floor"></div>
  </div>
</div>
