<li>
  <button type="button" class="hidden text-xl text-gray-500 border-0 btn dark:text-gray-300 lg:block" data-tw-toggle="modal" data-tw-target="#videoCallModal">
      <i class="ri-vidicon-line"></i>
  </button>
</li>

<!-- Modal start -->
<li class="relative z-50 hidden modal dark:text-gray-300" id="videoCallModal">
  <div class="fixed inset-0 z-50 overflow-hidden">
      <div class="absolute inset-0 transition-opacity bg-black bg-opacity-50 modal-overlay"></div>
      <div class="flex items-center justify-center max-w-lg min-h-screen p-4 mx-auto text-center animate-translate">
          <div class="relative w-full max-w-lg my-8 overflow-hidden text-left transition-all transform bg-white rounded-lg shadow-xl -top-10 dark:bg-zinc-700">
              <div class="group-data-[theme-color=violet]:bg-violet-800/10 group-data-[theme-color=green]:bg-green-50/50 group-data-[theme-color=red]:bg-red-50/50 group-data-[theme-color=violet]:dark:bg-zinc-600 group-data-[theme-color=green]:dark:bg-zinc-600 group-data-[theme-color=red]:dark:bg-zinc-600">
                  <div class="p-4">
                      <div class="p-6">
                          <div class="p-4 text-center">
                              <div class="mb-6">
                                  <img src="/img/chat/images/avatar-4.jpg" alt="" class="w-24 h-24 mx-auto rounded-full">
                              </div>
                              <h5 class="mb-1 truncate dark:text-gray-50">Doris Brown</h5>
                              <p class="text-gray-500 dark:text-gray-300">Start Video Call</p>
                              <div class="mt-10">
                                  <ul class="flex justify-center mb-1">
                                      <li class="px-2 ml-0 mr-2">
                                          <button type="button" class="w-12 h-12 text-white bg-red-500 border-transparent rounded-full btn hover:bg-red-600" data-tw-dismiss="modal">
                                              <span class="text-xl bg-transparent">
                                                  <i class="ri-close-fill"></i>
                                              </span>
                                          </button>
                                      </li>
                                      <li class="px-2">
                                          <button type="button" class="w-12 h-12 text-white bg-green-500 border-transparent rounded-full btn hover:bg-green-600">
                                              <span class="text-xl bg-transparent">
                                                  <i class="ri-vidicon-fill"></i>
                                              </span>
                                          </button>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</li>
<!-- Modal end -->
