<div class="px-6 pb-6" dir="ltr">
  <div class="owl-carousel owl-theme" id="user-status-carousel">
      <div class="text-center">
          <a href="#" class="block p-2 mt-4 rounded group-data-[theme-color=violet]:bg-slate-100 group-data-[theme-color=green]:bg-green-50 group-data-[theme-color=red]:bg-red-50 group-data-[theme-color=violet]:dark:bg-zinc-600 group-data-[theme-color=green]:dark:bg-zinc-600 group-data-[theme-color=red]:dark:bg-zinc-600">
              <div class="absolute inset-0 text-center">
                  <img src="/img/chat/images/avatar-2.jpg" alt="user-img" class="mx-auto rounded-full w-9 h-9">
                  <!-- <span class="absolute w-2.5 h-2.5 bg-green-500 border-2 border-white rounded-full top-7 lg:right-5 dark:border-zinc-600"></span> -->
              </div>
              <h5 class="mt-4 mb-0 truncate text-13 dark:text-gray-50">Patrick</h5>
          </a>
      </div>
      <div class="text-center">
          <a href="#" class="block p-2 mt-4 rounded group-data-[theme-color=violet]:bg-slate-100 group-data-[theme-color=green]:bg-green-50 group-data-[theme-color=red]:bg-red-50 group-data-[theme-color=violet]:dark:bg-zinc-600 group-data-[theme-color=green]:dark:bg-zinc-600 group-data-[theme-color=red]:dark:bg-zinc-600">
              <div class="absolute inset-0 block text-center">
                  <img src="/img/chat/images/avatar-4.jpg" alt="user-img" class="mx-auto rounded-full w-9 h-9">
                  <!-- <span class="absolute w-2.5 h-2.5 bg-green-500 border-2 border-white rounded-full top-7 lg:right-5 dark:border-zinc-600"></span> -->
              </div>
              <h5 class="mt-4 mb-0 truncate text-13 dark:text-gray-50">Doris</h5>
          </a>
      </div>
      <div class="text-center">
          <a href="#" class="block p-2 mt-4 rounded group-data-[theme-color=violet]:bg-slate-100 group-data-[theme-color=green]:bg-green-50 group-data-[theme-color=red]:bg-red-50 group-data-[theme-color=violet]:dark:bg-zinc-600 group-data-[theme-color=green]:dark:bg-zinc-600 group-data-[theme-color=red]:dark:bg-zinc-600">
              <div class="absolute inset-0 block text-center">
                  <img src="/img/chat/images/avatar-5.jpg" alt="user-img" class="mx-auto rounded-full w-9 h-9">
                  <!-- <span class="absolute w-2.5 h-2.5 bg-green-500 border-2 border-white rounded-full top-7 lg:right-5 dark:border-zinc-600"></span> -->
              </div>
              <h5 class="mt-4 mb-0 truncate text-13 dark:text-gray-50">Emily</h5>
          </a>
      </div>
      <div class="text-center">
          <a href="#" class="block p-2 mt-4 rounded group-data-[theme-color=violet]:bg-slate-100 group-data-[theme-color=green]:bg-green-50 group-data-[theme-color=red]:bg-red-50 group-data-[theme-color=violet]:dark:bg-zinc-600 group-data-[theme-color=green]:dark:bg-zinc-600 group-data-[theme-color=red]:dark:bg-zinc-600">
              <div class="absolute inset-0 block text-center">
                  <img src="/img/chat/images/avatar-6.jpg" alt="user-img" class="mx-auto rounded-full w-9 h-9">
                  <!-- <span class="absolute w-2.5 h-2.5 bg-green-500 border-2 border-white rounded-full top-7 lg:right-5 dark:border-zinc-600"></span> -->
              </div>
              <h5 class="mt-4 mb-0 truncate text-13 dark:text-gray-50">Steve</h5>
          </a>
      </div>
  </div>
  <!-- end user status carousel -->
</div>