<div class="w-full overflow-hidden transition-all duration-150 bg-white user-chat dark:bg-zinc-800">
    <div class="lg:flex">
        <!-- start chat conversation section -->
        <div class="relative w-full overflow-hidden ">
            <div class="p-4 border-b border-gray-100 lg:p-6 dark:border-zinc-600">
                <div class="grid items-center grid-cols-12">
                    <%- include('./chat-components/navbar-left.ejs') %>
                    <%- include('./chat-components/navbar-right.ejs') %>
                </div>
            </div>
            <!-- end chat user head -->
            

            <!-- start chat input section -->
            <%- include('./chat-components/chat-input-section.ejs') %>
            <!-- end chat input section -->
        </div>
        <!-- end chat conversation section -->

        <!-- start User profile detail sidebar -->
        <%- include('./chat-components/profile.ejs') %>
        <!-- end User profile detail sidebar -->
    </div>
</div>
