<div class="w-full overflow-hidden transition-all duration-150 bg-white user-chat dark:bg-zinc-800">
    <div class="lg:flex">
        <!-- start chat conversation section -->
        <div class="relative w-full overflow-hidden ">
            <div id="heartbeat-chat-content">
                <div class="relative flex justify-center items-center w-full h-full" style="margin-top: 30% !important;">
                    <% const joke = UtilsLib.getAJoke().body; %>
                    <div class="flex text-center">
                        <h2 class="text-gray-700 dark:text-gray-50 italic font-bold default-chat-page-quote text-3xl">
                            ``` <%= joke; %> ```
                        </h2>
                    </div>
                </div>                
            </div>
        </div>

        <%- include('./chat-components/default-chat.ejs') %>
        <!-- end chat conversation section -->

        <!-- start User profile detail sidebar -->
        <%- include('./chat-components/profile.ejs') %>
        <!-- end User profile detail sidebar -->
    </div>
</div>